[Desktop Entry]
Name=Spotify (AdKiller)
GenericName=Music Player
Comment=Your Music - without ads!
Icon=spotify-client
Exec=spotify-wrapper.sh %U
TryExec=spotify
Terminal=false
Type=Application
Categories=Qt;Audio;Music;Player;AudioVideo
MimeType=x-scheme-handler/spotify
StartupWMClass=spotify
